<%= form_with(model: label_category) do |form| %>
  <% if label_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(label_category.errors.count, "error") %> prohibited this label_category from being saved:</h2>

      <ul>
        <% label_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
